<div class="row px-5 py-2" id="footer-body">
  <div class="col">

    <div class="row mb-3 pb-1" id="title-body">
      <div class="col">
        <span class="start" id="title-text">
          Timekeeper
          <mat-icon id="schedule-icon">schedule</mat-icon>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>Website</h5>
        <a>About</a> <br />
        <a>Contact</a>
      </div>

      <div class="col">
        <h5>Resources</h5>
        <a>Privacy</a> <br />
        <a>Tools</a>
      </div>

      <div class="col">
        <h5>Product Help</h5>
        <a>Support</a> <br />
        <a>Report a Bug</a>
      </div>
    </div>

  </div>
</div>
