a {
  font-size: 10px;
}

h5 {
  margin-bottom: 0px;
  font-weight: bold;
}

#footer-body {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
}

#schedule-icon {
  position: relative;
  top: .2em;
  font-size: 1em;
}

#title-body {
  border-bottom: 1px solid #a5a5a5;
}

#title-text {
  font-size: 14px;
}
