<div class="row text-center">
  <div class="col border">
    <div class="row pt-3">
      <div class="col">
        <h3><a [routerLink]="'/time-card/month'">Month</a></h3>
        <p>{{ calculateCurrentUnitOfTime('month') }}</p>
        <p>{{ calculateTotalTimeString('month') }}</p>
      </div>
    </div>
  </div>
  <div class="col border">
    <div class="row pt-3">
      <div class="col">
        <h3><a [routerLink]="'/time-card/week'">Week</a></h3>
        <p>{{ calculateCurrentUnitOfTime('week') }}</p>
        <p>{{ calculateTotalTimeString('week') }}</p>
      </div>
    </div>
  </div>
  <div class="col border">
    <div class="row pt-3">
      <div class="col">
        <h3><a [routerLink]="'/time-card/day'">Day</a></h3>
        <p>{{ calculateCurrentUnitOfTime('day') }}</p>
        <p>{{ calculateTotalTimeString('day') }}</p>
      </div>
    </div>
  </div>
</div>
