<div class="row p-3">
  <div class="col">
    <div class="row boldest">
      <div class="col"></div>
      <div class="col text-center">
        Description
      </div>
      <div class="col text-center">
        Notes
      </div>
      <div class="col text-center">
        Duration
      </div>
      <div class="col text-right">
        <button mat-icon-button (click)="openScheduleCard()">
          <mat-icon>add</mat-icon>
        </button>
        <span>Add Schedule</span>
      </div>
    </div>
    <div *ngFor="let schedule of currentDaySchedule.schedules; let sIndex=index" class="row">
      <div class="col">
        <div class="row">
          <div class="col" id="schedule-name-col">
            <span class="link" (click)="openScheduleCard(schedule)">{{ schedule.name }}</span>
          </div>
          <div class="col">
            {{ schedule.description }}
          </div>
          <div class="col">
            {{ schedule.notes }}
          </div>
          <div class="col text-right mb-2 boldest">
            <button mat-icon-button class="schedule-remove-button" (click)="removeSchedule(sIndex)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div *ngFor="let task of schedule.tasks; let tIndex=index" class="row py-1 pl-3">
          <div *ngIf="task.endDt" class="col">
            <span class="link" (click)="openTaskCard(sIndex, task)">{{ task.startDt | date: 'mediumTime' }} to {{ task.endDt | date: 'mediumTime' }}</span>
          </div>
          <div *ngIf="!task.endDt" class="col">
            <span>{{ task.startDt | date: 'mediumTime' }} - {{ timeService.calculateTaskElapsedTime(task.startDt) }}</span>
          </div>
          <div class="col text-center">
            {{ task.description }}
          </div>
          <div class="col text-center">
            {{ task.notes }}
          </div>
          <div *ngIf="task.endDt" class="col text-center">
            {{ timeService.calculateTaskDuration(task.startDt, task.endDt) }}
          </div>
          <div class="col text-right">
            <button mat-icon-button class="task-remove-button" (click)="removeTask(sIndex, tIndex)">
              <mat-icon class="task-remove-icon">close</mat-icon>
            </button>
          </div>
        </div>
        <div class="row pt-2 pb-3 pl-3 boldest">
          <div class="col">
            <span *ngIf="!isTaskStarted || sIndex !== currentScheduleIndex" id="start-task" (click)="startTask(sIndex, schedule.id)">
              <fa-icon [icon]="faSpinner" [spin]="false"></fa-icon>
              <span class="pl-3">Start Task</span>
            </span>
            <span *ngIf="isTaskStarted && sIndex === currentScheduleIndex" id="start-task" (click)="stopTask(sIndex)">
              <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              <span class="pl-3">Stop Task</span>
            </span>
            <span class="pl-3" (click)="openTaskCard(sIndex)">
              <button mat-icon-button (click)="openTaskCard(sIndex)">
                <mat-icon>add</mat-icon>
              </button>
              <span>Add Task</span>
            </span>
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col text-center">
            {{ timeService.calculateScheduleDuration(schedule) }}
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>
