#start-task {
  cursor: pointer;
}

#schedule-name-col {
  font-weight: 700;
}

.link {
  cursor: pointer;
}

.schedule-remove-button {
  line-height: 0.5em;
  height: 0.5em;
}

.task-remove-button {
  line-height: 0.25em;
  height: 0.25em;
}

.task-remove-icon {
  font-size: 15px;
}
