<div class="row">
  <div class="col">
    <h1 mat-dialog-title class="text-center font-weight-bold">Schedule Card</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-dialog-content>
      <div id="schedule-card-form">
        <div class="row">
          <div class="col">
            <form [formGroup]="form">
              <mat-form-field class="schedule-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" required formControlName="nameField" [matAutocomplete]="auto">
                <mat-error *ngIf="form.get('nameField').invalid">Name is required</mat-error>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let nameOption of filteredNameOptions | async" [value]="nameOption">
                    {{ nameOption }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="schedule-field">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="descriptionField">
              </mat-form-field>

              <mat-form-field class="schedule-field">
                <mat-label>Notes</mat-label>
                <textarea matInput type="text" class="notes-input" formControlName="notesField"></textarea>
              </mat-form-field>
            </form>
          </div>
        </div>

      </div>
    </mat-dialog-content>
  </div>
</div>

<div class="row pb-3">
  <div class="col">
    <mat-dialog-actions align="center">
      <button *ngIf="!currentSchedule" mat-button (click)="addSchedule()">Add</button>
      <button *ngIf="currentSchedule" mat-button (click)="saveSchedule()">Save</button>
    </mat-dialog-actions>
  </div>
</div>
