<div *ngFor="let daySchedule of weekSchedule.daySchedules; let i = index;" class="row p-2">
  <div class="col">
    <div class="row pointer boldest" (click)="toggleDaySchedules(i)">
      <div class="col">
        {{ daySchedule.day }}
      </div>
    </div>
    <div *ngFor="let schedule of daySchedule.schedules; let j = index;" class="row ml-3 py-1" [@openClose]="schedule.state">
      <div class="col">
        <div class="row pointer bold" (click)="toggleScheduleTasks(i, j)">
          <div class="col">
            <span>{{ schedule.name }}</span>
          </div>
        </div>
        <div *ngFor="let task of schedule.tasks" class="row ml-3 py-1" [@openClose]="task.state">
          <div class="col">
            <span>{{ task.name }}</span>
          </div>
          <div class="col text-center">
            {{ task.startDt | date: 'mediumTime' }} to {{ task.endDt | date: 'mediumTime' }}
          </div>
          <div class="col text-right">
            {{ timeService.calculateTaskDuration(task.startDt, task.endDt) }}
          </div>
        </div>
        <div *ngIf="schedule.tasks[0].state === 'open'" class="row boldest" [@openClose]="schedule.state">
          <div class="col text-right">
            {{ timeService.calculateScheduleDuration(schedule) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
