<div *ngFor="let daySchedule of currentWeekSchedule.daySchedules; let i = index;" class="row p-3">
  <div class="col">
    <div class="row">
      <div class="col">
        {{ daysOfWeekString[i] }}
      </div>
    </div>
    <div *ngFor="let schedule of daySchedule.schedules" class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            {{ schedule.name }}
          </div>
        </div>
        <div *ngFor="let task of schedule.tasks" class="row">
          <div class="col">
            {{ task.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
