@import '~bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:focus {
  outline: none !important;
  border: 0 !important;
}

.bold {
  font-weight: 500;
}

.boldest {
  font-weight: 900;
}

.pointer {
  cursor: pointer;
}
